.c-player {
	background-image: url("./../../assets/kotta.jpg");
	background-repeat: no-repeat;
	background-size: 400px 300px;
	width: 24rem;
	height: 18rem;
	background-color: var(--clr-primary);
	padding: 20px;
	border-radius: 16px;
	box-shadow: inset -6px -6px 12px rgba(0, 0, 0, 0.8), inset 6px 6px 12px rgba(255, 255, 255, 0.4);
	@media screen and (max-width: 760px) {
		width: 100%;
	}
}

.c-player > p {
	color: #fff;
	font-size: 14px;
	text-align: center;
	font-weight: 600;
	letter-spacing: 0.1rem;
	margin-bottom: 0;
}

.c-player > p span {
	font-weight: 700;
	font-size: 1.2rem;
	letter-spacing: 0.1rem;
}

.c-player--details {
	display: flex;
	flex-direction: row;
}

.c-player--details .details-img {
	width: 40%;
	margin: 0 auto;
}

.c-player--details .details-text {
	width: 60%;
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
}

.c-player--details .details-img img {
	display: block;
	margin: 10px auto;
	width: 80%;
	max-width: 200px;
	border-radius: 50%;
	box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.8), -6px -6px 12px rgba(255, 255, 255, 0.4);
}

.c-player--details .details-img:after {
	content: "";
	display: block;
	position: absolute;
	border-radius: 50%;
}

.c-player--details .details-title {
	width: 100%;
	color: black;
	font-size: 1.55rem;
	text-align: center;
	margin-left: 0;
	margin: 0.5rem 0;
	word-wrap: break-word;
}

.c-player--details .details-artist {
	color: black;
	font-size: 0.95rem;
	text-align: center;
	margin-bottom: 20px;
	font-family: monospace;
	letter-spacing: 0.1rem;
}

.c-player--controls {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}

.c-player--controls .play-btn {
	display: flex;
	margin: 0 30px;
	padding: 20px;
	border-radius: 50%;
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8), -4px -4px 10px rgba(255, 255, 255, 0.4),
		inset -4px -4px 10px rgba(0, 0, 0, 0.4), inset 4px 4px 10px rgba(255, 255, 255, 0.4);
	border: none;
	outline: none;
	background-color: #fff;
	color: #294416;
	font-size: 20px;
	cursor: pointer;

	& :hover {
		color: #c59d5f;
	}
}

.c-player--controls .skip-btn {
	background: none;
	outline: none;
	cursor: pointer;
	color: #c59d5f;
	font-size: 18px;
	border: 1px #c59d5f solid;
	border-radius: 1rem;
	background-color: whitesmoke;
	width: 3rem;
	margin: 0 auto;

	& :hover {
		color: black;
	}
}
