.eventsItem-Container {
	display: flex;
	flex-direction: column;
	width: 26rem;
	height: 20rem;
	@media screen and (max-width: 480px) {
		width: 95vw;
		margin-bottom: 2rem;
	}
	@media (min-width: 480px) and (max-width: 600px) {
		height: auto;
		margin-bottom: 2rem;
	}
	@media (min-width: 600px) and (max-width: 890px) {
		width: 27rem;
		height: auto;
		margin: 0.6rem;
	}
	@media (min-width: 890px) and (max-width: 1200px) {
		width: 24rem;
		height: auto;
		margin: 1rem;
	}
	@media (min-width: 1200px) and (max-width: 1920px) {
		width: 27rem;
		height: auto;
		margin: 0.5rem;
	}
}

#eventItem-image {
	width: 100%;
	height: 15rem;
}

.eventItem-details {
	display: flex;
	flex-direction: row;
	@media screen and (max-width: 480px) {
		height: 7rem;
	}
}

.eventDate-block {
	width: 18%;
	height: 4.8rem;
	background: #c59d5f;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 0.5rem;
	text-align: center;
	color: white;
	font-size: 1.4rem;
	border: 1px solid;
	font-weight: 700;
	@media screen and (max-width: 480px) {
		height: 6.8rem;
	}
}

.eventItem-content {
	width: 80%;
	padding: 0 0 0 0.4rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.eventItem-title {
	font-size: 1.3rem;
	font-weight: 800;
	@media screen and (max-width: 760px) {
		font-size: 1.1rem;
	}
	@media (min-width: 992px) and (max-width: 1200px) {
		font-size: 1.05rem;
	}
	@media (min-width: 1200px) and (max-width: 1920px) {
		font-size: 1rem;
	}
}

.eventItem-description {
	padding: 0.2rem 0;
}

.eventItem-location {
	font-size: 0.85rem;
	font-style: italic;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-top: 0.1rem;
	@media screen and (max-width: 480px) {
		font-size: 0.65rem;
	}
	@media (min-width: 480px) and (max-width: 600px) {
		font-size: 0.85rem;
	}
	@media (min-width: 768px) and (max-width: 992px) {
		font-size: 0.8rem;
	}
	@media (min-width: 992px) and (max-width: 1200px) {
		font-size: 0.75rem;
	}
}

.eventItem-hours {
	font-size: 1rem;
	font-style: italic;
	display: flex;
	flex-direction: row;
	align-items: center;
	@media (min-width: 1200px) and (max-width: 1920px) {
		font-size: 0.9rem;
	}
}

.eventItem-icon {
	margin-right: 0.3rem;
	margin-top: 0.1rem;
}
